<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleAppLauncher" version="1.0.4831.40432" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="NgenWrapper" version="1.0.4846.126" targetFramework="net45" />
  <package id="NUnit" version="3.0.0" targetFramework="net45" />
</packages>